.aboutMain {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.aboutLeft {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    z-index: 2;
}

.aboutSectionTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #52EB9E;
}

.aboutSectionSubTitle {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.3;
}

.aboutSectionDescription {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    z-index: 2;
    text-align: justify;
}


.AboutUsButton {
    width: 160px;
    border-radius: 50px;
    padding: 13px 25px; /* Equal left and right padding */
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #10C843;
    color: #fff;
    border: none;
}

.arrow {
    transition: all 0.3s ease;
}

.AboutUsButton .arrow {
    margin-left: 10px !important;
    color: #fff;
}

.AboutUsButton:hover .arrow {
    transform: translateX(3px);
}

